*{
    margin: 0;
    padding: 0;
}

header{
    padding: 10px 20px 10px 0;
    display: flex;
    background: mediumvioletred;
    align-items:stretch;
    justify-content: space-between;
}
 #confeitaria{
    font-family: calibri;
    font-size: 22px;
    font-weight: bolder;
    
}
#iconeBolo{
    width: 30px;
}
=======
nav{
    background-color: pink;
}
.icone-e-texto{
    display: flex;
    justify-content: space-between;
}
img{
    width: 20px;
  }
.login{
   align-items: flex-end;
}


